/* #logoheader {
  height: 60px;
  margin-bottom: 10px;
  margin-top: 10px;
} */

#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  text-align: center;
}

body{
  background-color: white;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

main{
  background-color: white;
  max-height: 100%;
}


.header{
  background-color: lightskyblue;
  flex-wrap: wrap;
}

#logoheader{
  height: 500px;
  animation: flip 4s infinite;
}

@keyframes flip {
  0% {
    transform: rotateY(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

.navbar{
  width: 100%;
  margin: 0;
  padding: 0;
  flex-direction: column;
}

.tabs {
  /* border: solid black 0.3px; */
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  /* box-shadow: 5px 0px 4px rgba(0, 0, 0, 0.5); */
  display: flex;
  /* margin: 0; */
  /* margin-left: -73.5%; */
  justify-content: center;
  padding: 0;
  background-color: whitesmoke;
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
  color:black;
}

#navOptions{
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  margin-left: 30px;
  border: dotted lightgrey 1px;
  background-color: rgb(205, 236, 247);
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
  width: 100vw;
  height: 100vh;
}

.mainHeader{
  margin-top: 90px;
}

body {
    min-height: 200px;
    height: 100vh;
    position: relative;
    flex-direction: column;
    /* background-color: cyan; */
}


.mainHeader h1 {
	font-family: 'Rig Bold Face', sans-serif;
	text-transform: uppercase;
	font-size: 60px;
	text-align: center;
	font-weight: normal;
	margin: 0;
  /* margin-top: 230px;
	top: 50%; */
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
  display: flex;
  flex-wrap: flex;
  flex-direction: column;
	color: #91d4ff;
}

.mainHeader h1:before,
.mainHeader h1:after,
span:before,
span:after {
	content: attr(data-heading);
	position: absolute;
	overflow: hidden;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 5;
	font-weight: normal;
	text-shadow: none;
}

.mainHeader h1:before {
	color: #fff;
	font-family: 'Rig Bold Inline', sans-serif;
}

.mainHeader h1:after {
	font-family: 'Rig Bold Coarse', sans-serif;
	color: #040351;
}

span::before {
	font-family: 'Rig Bold Shadow', sans-serif;
	color: #cbc7e3;
	z-index: -1;
}

span::after {
	font-family: 'Rig Bold Extrude', sans-serif;
	color: #4d8bea;
	z-index: -1;
}

@font-face {
	font-family: 'Rig Bold Coarse'; 
	src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/Rig-BoldCoarse.otf');
}

@font-face {
	font-family: 'Rig Bold Extrude'; 
	src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/Rig-BoldExtrude.otf');
}

@font-face {
	font-family: 'Rig Bold Shadow'; 
	src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/Rig-BoldShadow.otf');
}

@font-face {
	font-family: 'Rig Bold Face'; 
	src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/Rig-BoldFace.otf');
}

@font-face {
	font-family: 'Rig Bold Inline'; 
	src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/Rig-BoldInline.otf');
}

#sports-img{
  height: 800px;
  width: 800px;
  margin-top: 200px;
  /* margin-right: 700px; */
  flex: 0 0 auto;
  float: left 20px;
  margin: auto 0;
  flex-direction: column;
}

.homeBody {
  /* max-width: 600px; */
  /* width: 100%; */
  padding: 20px;
  background-color: white;
  /* height: 90%; */
  display: flex;
  flex-wrap: flex;
  position: relative;
  flex-direction: column;
  /* display: inline-block; */
  /* margin-top: 100px; */
  border-radius: 10px;
  border: solid navy 2px;
  box-shadow: 0 0 20px lightskyblue;
}

.welcomeMessage {
  font-size: 100px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: beige;
  height: 500px;
  /* margin-top: 100px; */
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  overflow-wrap: break-word;
}

.welcomeMessage h2:before {
	color: #fff;
	font-family: 'Rig Bold Inline', sans-serif;
}

.welcomeMessage h2:after {
	font-family: 'Rig Bold Coarse', sans-serif;
	color: #040351;
}


.logoutButton {
  background-color: #ff6347;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logoutButton:hover {
  background-color: #e74c3c;
}

.locationInput input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.sectionHeader {
  font-size: 30px;
  margin-bottom: 10px;
  font-family: 'Rig Bold Extrude', sans-serif;
  color: lightskyblue;
}

.sectionHeader::before {
	font-family: 'Rig Bold Shadow', sans-serif;
	color: #cbc7e3;
	z-index: -1;
}

.sectionHeader::after {
	font-family: 'Rig Bold Extrude', sans-serif;
	color: #4d8bea;
	z-index: -1;
}

.aboutMessage {
  margin-bottom: 20px;
  margin-top: 30px;
  height: 650px;
  min-height: 750px;
  width: 500px;
  border: dotted navy 2px;
  display: inline-block;
  padding: 10px;
  flex-direction: column;
  overflow: break-word;
  /* margin-left: 600px; */
  /* float: right 20px; */
}

.message1 {
  margin-bottom: 15px;
  font-size: 20px;
}

.homeCard {
  /* display: bottom;
  align-items: bottom; */
  display: flex;
  flex-direction: column;

}

.loginButton {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.loginButton:hover {
  background-color: #45a049;
}

.errorMessage {
  color: #ff6347;
  margin-top: 10px;
}

.eventCards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
}

.card {
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 5px;
}

.eventTitle {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 20px;
}
.innertitle {
  font-size: 25px;
  margin-top: -15px;
}

.eventDescription {
  font-size: 14px;
  color: #555;
}

.eventBox{
  margin-bottom: 35px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;  
  transition: 0.3s ease-out;
 
}

.eventBox:hover{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 120px 270px -90px, rgba(0, 0, 0, 0.3) 0px 40px 70px -30px;  
  background-color: #EDEEEE;

}

footer {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: italic;
  background-color: lightgray;
  border: solid black 2px;
  box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.2);
  width: 100%;
  text-align: center;
  /* padding: 20px; */
  /* position: fixed; */
  margin-top: 600px;
  /* bottom: 0; */
  /* left: 0; */
}

.footerContent {
  font-size: 20px;
}

.pp-images1{
  height: 50px;
  /* width: 10px; */
  align-items: right;
}

.pp-images2{
  height: 200px;
  /* width: 10px; */
  align-items: bottom;
}

.card2Pos{
  display: flex;
  justify-content: space-between;
  /* border: solid black 2px; */
}

.eventCards2{
  /* border: solid navy 2px; */
  max-height: 400px;
  /* padding-left: 200px; */
  justify-content: center;
  align-items: center;
  /* margin: 100px; */
  flex-wrap: flex;
  /* display: flex; */
  flex-direction: column;
  position: relative;
  bottom: 0;
  margin: 100px;
  /* margin-left: 150px; */
}

@media (max-width: 425px) {
  header {
    max-width: 800px;
    max-height: 400px;
  }
  header h1 {
    font-size: 1.25em;
  }
  .tabs {
    flex-direction: column;
    width: 420px;
    margin-bottom: 50px;
  }
  .header {
    height: 500px;
    width: 420px;
  }

  #sports-img{
    max-height: 300px;
    max-width: 300px;
  }
  .eventCards2{
    margin: auto 0;
    margin-top: 150px;
    margin-bottom: 50px;
  }
  .pp-images2{
    max-height: 50px;
  }
  #logoheader{
    height: 400px;
  }
  .aboutMessage{
    max-width: 300px;
  }
  .message1{
    font-size: 12px;
  }
  footer{
    width: 420px;
  }
}

@media (max-width: 768px) {
  .eventCards {
    width: 100%;
  }
  .eventCards2 {
    width: 100%;
  }
  .pp-images1 {
    width: 50px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .pp-images2 {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    align-items: center;
  }
  #sports-img{
    width: 600px
  }

}

@media (max-width: 1024px) {
  #sports-img{
    height: 600px;
    margin-top: 20px;
  }
  .aboutMessage{
    margin-top: 20px;
  }
  .pp-images2{
    height: 150px;
  }
  footer{
    margin-top: 1800px;
  }
}

@media (min-width: 1025px) {
  header {
    height: 800px;
  }
}






























/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */